@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin,cyrillic-ext");
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 720px; } }
  @media (min-width: 992px) {
    .container {
      width: 940px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1140px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: 0px;
  margin-right: 0px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.33333%; }

  .col-sm-2 {
    width: 16.66667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33333%; }

  .col-sm-5 {
    width: 41.66667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.33333%; }

  .col-sm-8 {
    width: 66.66667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.33333%; }

  .col-sm-11 {
    width: 91.66667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.33333%; }

  .col-sm-pull-2 {
    right: 16.66667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.33333%; }

  .col-sm-pull-5 {
    right: 41.66667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.33333%; }

  .col-sm-pull-8 {
    right: 66.66667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.33333%; }

  .col-sm-pull-11 {
    right: 91.66667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.33333%; }

  .col-sm-push-2 {
    left: 16.66667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.33333%; }

  .col-sm-push-5 {
    left: 41.66667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.33333%; }

  .col-sm-push-8 {
    left: 66.66667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.33333%; }

  .col-sm-push-11 {
    left: 91.66667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.33333%; }

  .col-md-pull-2 {
    right: 16.66667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.33333%; }

  .col-md-pull-5 {
    right: 41.66667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.33333%; }

  .col-md-pull-8 {
    right: 66.66667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.33333%; }

  .col-md-pull-11 {
    right: 91.66667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.33333%; }

  .col-md-push-2 {
    left: 16.66667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.33333%; }

  .col-md-push-5 {
    left: 41.66667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.33333%; }

  .col-md-push-8 {
    left: 66.66667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.33333%; }

  .col-md-push-11 {
    left: 91.66667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.33333%; }

  .col-lg-pull-2 {
    right: 16.66667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.33333%; }

  .col-lg-pull-5 {
    right: 41.66667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.33333%; }

  .col-lg-pull-8 {
    right: 66.66667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.33333%; }

  .col-lg-pull-11 {
    right: 91.66667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.33333%; }

  .col-lg-push-2 {
    left: 16.66667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.33333%; }

  .col-lg-push-5 {
    left: 41.66667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.33333%; }

  .col-lg-push-8 {
    left: 66.66667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.33333%; }

  .col-lg-push-11 {
    left: 91.66667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

a {
  background-color: transparent; }
  a:active {
    outline: 0; }
  a:hover {
    outline: 0; }

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

body {
  font-family: "Open Sans", sans-serif; }

@font-face {
  font-family: "CoCo";
  src: url("../fonts/coco.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@-webkit-keyframes fadeOn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeOn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fadeOn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeOn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-o-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #e91e63; } }
@-moz-keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #e91e63; } }
@-o-keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #e91e63; } }
@keyframes fadeOnFontHover {
  0% {
    background-color: transparent; }
  100% {
    background-color: #e91e63; } }
@-webkit-keyframes fadeOutFontHover {
  0% {
    background-color: #e91e63; }
  100% {
    background-color: transparent; } }
@-moz-keyframes fadeOutFontHover {
  0% {
    background-color: #e91e63; }
  100% {
    background-color: transparent; } }
@-o-keyframes fadeOutFontHover {
  0% {
    background-color: #e91e63; }
  100% {
    background-color: transparent; } }
@keyframes fadeOutFontHover {
  0% {
    background-color: #e91e63; }
  100% {
    background-color: transparent; } }
@-webkit-keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #e91e63; } }
@-moz-keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #e91e63; } }
@-o-keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #e91e63; } }
@keyframes fadeOnColorHover {
  0% {
    color: #e0e0e0; }
  100% {
    color: #e91e63; } }
.logo {
  text-align: center;
  font-family: "CoCo";
  color: black;
  font-size: 36px; }

.no_padding.col-lg-1, .no_padding.col-lg-10, .no_padding.col-lg-11, .no_padding.col-lg-12, .no_padding.col-lg-2,
.no_padding.col-lg-3, .no_padding.col-lg-4, .no_padding.col-lg-5, .no_padding.col-lg-6, .no_padding.col-lg-7,
.no_padding.col-lg-8, .no_padding.col-lg-9, .no_padding.col-md-1, .no_padding.col-md-10, .no_padding.col-md-11,
.no_padding.col-md-12, .no_padding.col-md-2, .no_padding.col-md-3, .no_padding.col-md-4, .no_padding.col-md-5,
.no_padding.col-md-6, .no_padding.col-md-7, .no_padding.col-md-8, .no_padding.col-md-9, .no_padding.col-sm-1,
.no_padding.col-sm-10, .no_padding.col-sm-11, .no_padding.col-sm-12, .no_padding.col-sm-2, .no_padding.col-sm-3,
.no_padding.col-sm-4, .no_padding.col-sm-5, .no_padding.col-sm-6, .no_padding.col-sm-7, .no_padding.col-sm-8,
.no_padding.col-sm-9, .no_padding.col-xs-1, .no_padding.col-xs-10, .no_padding.col-xs-11, .no_padding.col-xs-12,
.no_padding.col-xs-2, .no_padding.col-xs-3, .no_padding.col-xs-4, .no_padding.col-xs-5, .no_padding.col-xs-6,
.no_padding.col-xs-7, .no_padding.col-xs-8, .no_padding.col-xs-9 {
  padding-right: 0px;
  padding-left: 0px; }

a {
  text-decoration: none;
  cursor: pointer;
  color: black; }

a:hover, a.active, a:focus {
  text-decoration: none;
  color: #e91e63; }

.m-btn, .listen-btm, .add-btm {
  font-family: "Open Sans Semibold";
  display: inline-block;
  margin-bottom: 0;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid white;
  white-space: nowrap;
  float: left;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0.15);
  padding: 10px 12px;
  font-size: 9px;
  line-height: 9px;
  border-radius: 24px; }
  .m-btn:hover, .listen-btm:hover, .add-btm:hover {
    -webkit-animation: fadeOnFontHover 0.4s;
    -o-animation: fadeOnFontHover 0.4s;
    -moz-animation: fadeOnFontHover 0.4s;
    animation: fadeOnFontHover 0.4s; }
  .m-btn:focus, .listen-btm:focus, .add-btm:focus, .m-btn.focus, .focus.listen-btm, .focus.add-btm {
    color: #ffffff;
    background-color: rgba(230, 230, 230, 0);
    border-color: rgba(191, 191, 191, 0.15); }
  .m-btn:hover, .listen-btm:hover, .add-btm:hover {
    color: #ffffff;
    background-color: rgba(230, 230, 230, 0);
    border-color: rgba(224, 224, 224, 0.15); }
  .m-btn:active, .listen-btm:active, .add-btm:active, .m-btn.active, .active.listen-btm, .active.add-btm {
    color: #ffffff;
    background-color: rgba(230, 230, 230, 0);
    border-color: rgba(224, 224, 224, 0.15); }
  .m-btn:hover, .listen-btm:hover, .add-btm:hover, .m-btn:focus, .listen-btm:focus, .add-btm:focus, .m-btn.focus, .focus.listen-btm, .focus.add-btm, .m-btn.active, .active.listen-btm, .active.add-btm {
    text-decoration: none;
    background-color: #e91e63; }
  .m-btn span, .listen-btm span, .add-btm span {
    letter-spacing: 2.3px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
    vertical-align: middle;
    color: #F5FFFD;
    margin-left: 10px; }

.add-btm {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 10px;
  font-size: 16px; }

.icon {
  cursor: pointer;
  display: inline-block;
  font: normal normal normal 14px/1 "Material-Design-Iconic-Font";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 40px;
  vertical-align: middle; }
  .icon:hover {
    color: #e91e63; }
    .icon:hover:hover {
      -webkit-animation: fadeOnColorHover 0.4s;
      -o-animation: fadeOnColorHover 0.4s;
      -moz-animation: fadeOnColorHover 0.4s;
      animation: fadeOnColorHover 0.4s; }

body {
  background-color: white; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.top-menu {
  margin-top: 54px; }
  .top-menu .menu {
    font-family: "CoCo";
    font-size: 14px;
    margin: 0;
    list-style: none;
    line-height: 65px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0; }
    .top-menu .menu:before, .top-menu .menu:after {
      content: " ";
      display: table; }
    .top-menu .menu:after {
      clear: both; }
    .top-menu .menu.right li {
      position: relative;
      display: block;
      float: right;
      text-align: right;
      margin-right: 0;
      margin-left: 5.46875%; }
      .top-menu .menu.right li:last-child {
        margin-left: 0; }
    .top-menu .menu li {
      text-transform: capitalize;
      margin-right: 5.46875%;
      display: block;
      float: left; }
      .top-menu .menu li:last-child {
        margin-right: 0; }
      .top-menu .menu li a {
        padding-top: 14px;
        border-top: 2px solid transparent;
        color: #9e9e9e; }
        .top-menu .menu li a:hover, .top-menu .menu li a.active {
          border-color: #455a64; }
    .top-menu .menu.bottom {
      display: flex;
      margin: 60px 0 15px;
      padding: 0;
      /* For IE, the outcast */
      zoom: 1;
      *display: inline; }
      .top-menu .menu.bottom li {
        font-size: 18px;
        line-height: normal;
        margin: auto;
        display: inline;
        float: left;
        padding: 0 10px; }
        .top-menu .menu.bottom li a {
          padding-top: 0;
          border: none;
          color: black; }
          .top-menu .menu.bottom li a:hover, .top-menu .menu.bottom li a.active {
            color: #e91e63; }

.slider .el {
  width: 100%;
  height: 480px;
  overflow: hidden;
  display: none;
  -webkit-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  animation: fadeOut 1s;
  animation-timing-function: ease-out; }
  .slider .el img {
    display: block;
    margin: 0 auto;
    height: 480px; }
  .slider .el.active {
    animation-timing-function: ease-in;
    -webkit-animation: fadeOn 1s;
    -o-animation: fadeOn 1s;
    -moz-animation: fadeOn 1s;
    animation: fadeOn 1s;
    display: block; }

@-webkit-keyframes fadePictures {
  0% {
    background-color: transparent; }
  100% {
    background-color: #fff9c4; } }
@-moz-keyframes fadePictures {
  0% {
    background-color: transparent; }
  100% {
    background-color: #fff9c4; } }
@-o-keyframes fadePictures {
  0% {
    background-color: transparent; }
  100% {
    background-color: #fff9c4; } }
@keyframes fadePictures {
  0% {
    background-color: transparent; }
  100% {
    background-color: #fff9c4; } }
@-webkit-keyframes fadePicturesOut {
  0% {
    background-color: #fff9c4; }
  100% {
    background-color: transparent; } }
@-moz-keyframes fadePicturesOut {
  0% {
    background-color: #fff9c4; }
  100% {
    background-color: transparent; } }
@-o-keyframes fadePicturesOut {
  0% {
    background-color: #fff9c4; }
  100% {
    background-color: transparent; } }
@keyframes fadePicturesOut {
  0% {
    background-color: #fff9c4; }
  100% {
    background-color: transparent; } }
#pictures .el:hover .body {
  background-color: #fff9c4;
  -webkit-animation: fadePictures 0.5s;
  -o-animation: fadePictures 0.5s;
  -moz-animation: fadePictures 0.5s;
  animation: fadePictures 0.5s; }
#pictures .el .body {
  -webkit-animation: fadePicturesOut 0.5s;
  -o-animation: fadePicturesOut 0.5s;
  -moz-animation: fadePicturesOut 0.5s;
  animation: fadePicturesOut 0.5s;
  font-family: "CoCo";
  text-align: center;
  padding: 50px 25px; }
  #pictures .el .body .title, #pictures .footer .el .body .time, .footer #pictures .el .body .time {
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 18px; }
  #pictures .el .body .image {
    overflow: hidden; }
    #pictures .el .body .image img {
      width: 100%; }

.info-text {
  font-weight: bold;
  font-size: 18px;
  padding: 20px 0;
  text-align: center;
  background-color: rgba(187, 222, 251, 0.25); }
  .info-text .blue {
    color: #0288d1; }

.footer {
  background-color: #f8f8f8;
  padding: 0 40px;
  font-size: 12px;
  color: #bdbdbd; }
  .footer .el {
    display: table;
    margin: 0 auto; }
    .footer .el div {
      margin: 10px 0; }
    .footer .el .title, .footer .el .time {
      font-weight: 700;
      color: black; }
    .footer .el .time {
      margin-top: 0; }
    .footer .el .title, .footer .el .time {
      margin-bottom: 30px; }

/*# sourceMappingURL=index.css.map */
